.index {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #dc544c;
  /* overflow: hidden; */
  display: flex;
  align-items: start;
  justify-content: center;
}

.index-bg1 {
  width: 100%;
  background: url(../images/index1.gif) no-repeat center center;
  background-size: contain;
}
.index-bg1-wrap { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-bg2-wrap { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.index-bg2 {
  width: 100%;
  background: url(../images/index2.gif) no-repeat center center;
  background-size: contain;
}

.a-login {
  position: absolute;
  width: 4rem;
  height: 1.3rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* background-color: #fafafa; */
}

/* login */
.index {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}