/* 写一个三秒钟的loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 16;
  flex-direction: column;
  font-size: .36rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #EB4646;
}

.loading .c {
  width: 1rem;
  height: 1rem;
  border: 2px solid #EB4646;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;

  /* border: .1rem solid #EB4646;
  border-top-color: transparent; */
  /* border-radius: 100%; */
  animation: smooth-load 1s linear infinite;
  margin-bottom: .2rem;
}

@keyframes smooth-load {
  from {
    /* opacity: 0.1; */
    transform: rotate(0);
  }

  to {
    /* opacity: 1; */
    transform: rotate(360deg);
  }
}

.index {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #EB4646;
  /* overflow: hidden; */
  display: flex;
  align-items: start;
  justify-content: center;
}

.index-bg1 {
  width: 100%;
  background: url(../images/index1.gif) no-repeat center center;
  background-size: contain;
}

.index-bg1-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: 15rem;
}

.index-bg2-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-bg2 {
  width: 7.5rem;
  height: 15rem;
  /* 	750 × 1500 px */
  background: url(../images/index2_1.gif) no-repeat center center;
  background-size: contain;
}

.index-bg3 {
  width: 7.5rem;
  height: 15rem;
  /* 	750 × 1500 px */
  background: url(../images/index3_1.gif) no-repeat center center;
  background-size: contain;
  /* display: none; */
}

.a-login {
  position: absolute;
  width: 4rem;
  height: 1.3rem;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
  /* background-color: #fafafa; */
}

/* login */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-bg {
  position: relative;
  width: 6.73rem;
  height: 5.44rem;
  background-image: url("../images/tap_bg_login_version_2.png");
  background-size: contain;
}

/* 写一个透明的inut css */
.input {
  position: absolute;
  width: 4.5rem;
  height: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: .36rem;
  color: #9D6C6D;
  text-align: left;
}

.phone {
  top: 0.9rem;
}

.code {
  top: 2.1rem;
}

.a-login-btn {
  position: absolute;
  width: 3.76rem;
  height: 1.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: .74rem;
  z-index: 5;
  /* background-color: aliceblue; */
}

.sendcode-btn {
  position: absolute;
  font-size: .3rem;
  color: #4FA6FF;
  top: 2.4rem;
  right: .8rem;
}

.sendcode-btn-empty {
  position: absolute;
  font-size: .3rem;
  color: #4FA6FF;
  top: 2.4rem;
  right: .8rem;
}

.manghe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #dc544c; */
  /* overflow: hidden; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.logo {
  position: absolute;
  top: .1rem;
  left: .1rem;
  width: 2.64rem;
  height: .77rem;
  background-image: url("../images/p1_logo.png");
  background-size: contain;
}

.manghe-bg1-wrap {
  width: 100%;
  height: 100%;
  background: url(../images/p1_bg_v2.jpg) no-repeat center center;
  background-size: cover;
}

.manghe-bg2-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 7.5rem;
  height: 13.44rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/game3_1.gif);
  background-size: cover;
}

.rule-btn {
  position: absolute;
  right: 2.4rem;
  bottom: 1.5rem;
  width: 1rem;
  height: 1rem;
  background-size: contain;
  z-index: 10;
}

.box-btn {
  position: absolute;
  right: 1.3rem;
  bottom: 1.5rem;
  width: 1rem;
  height: 1rem;
  z-index: 10;
  background-size: contain;
}

.item {
  position: absolute;
  width: 1.25rem;
  height: 1.56rem;
  /* background-color: #fafafa; */
  /* background: no-repeat contain; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

/* css画一个跟item底部的椭圆阴影 */
.shadow {
  display: inline-block;
  position: absolute;
  width: 1.21rem;
  height: .22rem;
  border-radius: 50%;
  z-index: 0;
  background: rgba(1, 1, 1, .18);
}

.item1 {
  left: 1.55rem;
  top: 4.18rem;
  background-image: url(../images/box_1_2.png);
}

.shadow1 {
  left: 1.58rem;
  top: 5.4rem;
}

.item2 {
  left: 3.05rem;
  top: 4.18rem;
  background-image: url(../images/box_2_2.png);
}

.shadow2 {
  left: 3.08rem;
  top: 5.4rem;
}

.item3 {
  left: 4.55rem;
  top: 4.18rem;
  background-image: url(../images/box_3_2.png);
}

.shadow3 {
  left: 4.58rem;
  top: 5.4rem;
}

.item4 {
  left: 1.55rem;
  top: 6.48rem;
  background-image: url(../images/box_4_2.png);
}

.shadow4 {
  left: 1.58rem;
  top: 7.7rem;
}

.item5 {
  left: 3.05rem;
  top: 6.48rem;
  background-image: url(../images/box_5_2.png);
}

.shadow5 {
  left: 3.08rem;
  top: 7.7rem;
}

.item6 {
  left: 4.55rem;
  top: 6.48rem;
  background-image: url(../images/box_6_2.png);
}

.shadow6 {
  left: 4.58rem;
  top: 7.7rem;
}


.item7 {
  left: 1.55rem;
  top: 8.78rem;
  background-image: url(../images/box_7_2.png);
}

.shadow7 {
  left: 1.58rem;
  top: 10rem;
}

.item8 {
  left: 3.05rem;
  top: 8.78rem;
  background-image: url(../images/box_8_2.png);
}

.shadow8 {
  left: 3.08rem;
  top: 10rem;
}

.item9 {
  left: 4.55rem;
  top: 8.78rem;
  background-image: url(../images/box_9_2.png);
}

.shadow9 {
  left: 4.58rem;
  top: 10rem;
}

.award {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  width: 7.5rem;
  /* height: 10.75rem; */
  /* background-size: contain; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.award-mask.show {
  opacity: 1;
}

.award-mask {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;

  transition: opacity 0.3s;
  opacity: 0;
}


.award-mask .award-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.award-mask .award-content .award-pic {
  width: 4.5rem;
  height: 2.78rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.award-mask.opened .award-content .award-pic {
  margin-top: -3rem;
  width: 5.8rem;
  height: 5.8rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 0.2rem;
}


@keyframes awardLightScale {
  from {
    opacity: 0;
    transform: scale(0) rotate(0);
  }

  to {
    opacity: 1;
    transform: scale(2) rotate(0);
  }
}

@keyframes awardLightRotate {
  from {
    transform: scale(2) rotate(0);
  }

  to {
    transform: scale(2) rotate(360deg);
  }
}

.award-light-animate {
  animation: awardLightScale 0.3s ease-in, awardLightRotate 20s infinite;
}

.award-mask .award-content .award-light {
  position: absolute;
  z-index: -1;
  width: 3.5rem;
  height: 3.5rem;
  left: 0;
  margin-left: 0.7rem;
  transform: scale(0);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/dazzling_light.png);
}
.award-mask.opened .award-content .award-light {
  margin-left: 1.2rem;
}

.award-mask .award-content .award-sure-btn {
  width: 2rem;
  height: .7rem;
  margin: 0.3rem auto 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/tap_btn_chai_1.png);

  transition: opacity 0.3s;
  opacity: 0;
}

.award-mask .award-content .award-close-btn {
  width: .7rem;
  height: .7rem;
  margin: 0.5rem auto 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/tap_btn_close_1.png);
  transition: opacity 0.3s;
  opacity: 0;
}

.award-mask .award-content .award-sure-btn.show,
.award-mask .award-content .award-close-btn.show {
  opacity: 1;
}


/* 拆盲盒前的盲盒图 */
.award-1 .award-pic {
  background-image: url(../images/box_1.png);
}

.award-2 .award-pic {
  background-image: url(../images/box_2.png);
}

.award-3 .award-pic {
  background-image: url(../images/box_3.png);
}

.award-4 .award-pic {
  background-image: url(../images/box_4.png);
}

.award-5 .award-pic {
  background-image: url(../images/box_5.png);
}

.award-6 .award-pic {
  background-image: url(../images/box_6.png);
}

.award-7 .award-pic {
  background-image: url(../images/box_7.png);
}

.award-8 .award-pic {
  background-image: url(../images/box_8.png);
}

.award-9 .award-pic {
  background-image: url(../images/box_9.png);
}

/* 开盲盒图 */
.award-1.opened .award-pic {
  background-image: url(../images/gift1.gif);
}

.award-2.opened .award-pic {
  background-image: url(../images/gift2.gif);
}

.award-3.opened .award-pic {
  background-image: url(../images/gift3.gif);
}

.award-4.opened .award-pic {
  background-image: url(../images/gift4.gif);
}

.award-5.opened .award-pic {
  background-image: url(../images/gift5.gif);
}

.award-6.opened .award-pic {
  background-image: url(../images/gift6.gif);
}

.award-7.opened .award-pic {
  background-image: url(../images/gift7.gif);
}

.award-8.opened .award-pic {
  background-image: url(../images/gift8.gif);
}

.award-9.opened .award-pic {
  background-image: url(../images/gift9.gif);
}

/* 
.award1 {
  background-image: url(../images/1-1.gif);
}

.award2 {
  background-image: url(../images/2-1.gif);
}

.award3 {
  background-image: url(../images/3-1.gif);
}

.award4 {
  background-image: url(../images/4-1.gif);
}

.award5 {
  background-image: url(../images/5-1.gif);
}

.award6 {
  background-image: url(../images/6-1.gif);
}

.award7 {
  background-image: url(../images/7-1.gif);
}

.award8 {
  background-image: url(../images/8-1.gif);
}

.award9 {
  background-image: url(../images/9-1.gif);
}

.award1_2 {
  background-image: url(../images/1-2.gif);
}

.award2_2 {
  background-image: url(../images/2-2.gif);
}

.award3_2 {
  background-image: url(../images/3-2.gif);
}

.award4_2 {
  background-image: url(../images/4-2.gif);
}

.award5_2 {
  background-image: url(../images/5-2.gif);
}

.award6_2 {
  background-image: url(../images/6-2.gif);
}

.award7_2 {
  background-image: url(../images/7-2.gif);
}

.award8_2 {
  background-image: url(../images/8-2.gif);
}

.award9_2 {
  background-image: url(../images/9-2.gif);
} */

.choose-btn {
  position: absolute;
  /* top: 8.8rem; */
  top: 65%;
  left: -.1rem;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 2rem;
  height: .7rem;
  /* background-color: #4FA6FF; */
}

.close-btn {
  position: absolute;
  /* top: 9.6rem; */
  top: 72%;
  left: -.1rem;
  right: 0;
  margin: auto;
  z-index: 5;
  width: .7rem;
  height: .7rem;
  border-radius: 50%;
  /* background-color: #4FA6FF; */
}

.prize-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 6;
}

.prize {
  position: absolute;
  top: -1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 7.07rem;
  height: 9.15rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.prize1 {
  background-image: url("../images/prize_1_version_3.png");
}

.prize2 {
  background-image: url("../images/prize_2_version_3.png");
}

.prize3 {
  background-image: url("../images/prize_3_version_3.png");
}

.prize4 {
  background-image: url("../images/prize_4_version_3.png");
}

.prize5 {
  background-image: url("../images/prize_5_version_3.png");
}
.prize6 {
  background-image: url("../images/prize_6_version_3.png");
}

.prize7 {
  background-image: url("../images/prize_7_version_3.png");
}

.prize-close-btn {
  top: 105%;
}

.prize-close-btn,
.jp_prize-close-btn {
  /* top: 11.6rem; */
  background-image: url("../images/tap_btn_close_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.buy-btn {
  position: absolute;
  top: 0;
  bottom: -5.9rem;
  left: 0;
  right: -3.3rem;
  margin: auto;
  z-index: 5;
  width: 3.46rem;
  height: 1.2rem;
  /* background-color: red; */
  /* background-image: url("../images/tap_btn_ok.png"); */
}

.buy-2-btn {
  position: absolute;
  top: 0;
  bottom: -5.1rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 3.2rem;
  height: 1rem;
  /* background-color: red; */
}

/* info */
.info,
.my-prize-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 11;
}

.info-bg {
  position: relative;
  width: 6.8rem;
  height: 7.23rem;
  background-image: url("../images/tap_bg_postData_version_2.png");
  background-size: cover;
}

.my-prize-wrap .box-wrap {
  width: 6.8rem;
  height: 10.3rem;
  background-image: url("../images/tap_bg_myBox.png");
  background-size: cover;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: -1.2rem;
}
.my-prize-wrap.empty .box-wrap {
  height: 8.05rem;
  background-image: url("../images/tap_bg_myBox_empty.png");
}
.my-prize-wrap.empty .prize-close {
  bottom: -8.5rem;
}

.c-wrap {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.prizing {
  position: relative;
  width: 5.84rem;
  height: 2.24rem;
  margin: auto;
  margin-top: .25rem;
  background-size: cover;
  overflow-y: scroll;
}

.p-btn {
  position: absolute;
  top: 1rem;
  bottom: 0;
  right: .1rem;
  margin: auto 0;
  z-index: 5;
  width: 1.55rem;
  height: .5rem;
  background-image: url("../images/tap_btn_soonBuy.png");
  background-size: cover;
}

.p-btn-2 {
  top: 0;
  background-image: url("../images/tap_btn_soonGet.png");
}

.p1 {
  background-image: url("../images/tap_bg_prize_1_2.png");
  /* margin-top: 2.4rem; */
}

.p2 {
  background-image: url("../images/tap_bg_prize_2_2.png");
}

.p3 {
  background-image: url("../images/tap_bg_prize_3_2.png");
}

.p4 {
  background-image: url("../images/tap_bg_prize_4_2.png");
}

.p5 {
  background-image: url("../images/tap_bg_prize_5_2.png");
}

.p6 {
  background-image: url("../images/tap_bg_prize_6_2.png");
}

.p7 {
  background-image: url("../images/tap_bg_prize_7_2.png");
}


.info-name {
  top: 1rem;
}

.info-phone {
  top: 2.45rem;
}

.info-addr {
  top: 4.1rem;
}

.info-btn {
  position: absolute;
  top: 0;
  bottom: -4.6rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 3.2rem;
  height: 1rem;
  /* background-color: red; */
}

.ad {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.ad-box {
  width: 7.5rem;
  height: 78.1344rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.time,
.time-close-btn {
  position: fixed;
  right: .2rem;
  top: .2rem;
  border-radius: .1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: .2rem;
  padding: .1rem .2rem;
}

.draw-fail,
.draw-finish,
.rule-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.draw-fail-bg,
.draw-finish-bg,
.rule-wrap-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-0.3rem);
  z-index: 5;
  width: 6.88rem;
  height: 4.6rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/tap_bg_error_5.png");
}

.draw-finish-bg2 {
  background-image: url("../images/tap_bg_error_4.png");
}

.rule-wrap-bg {
  width: 7.5rem;
  height: 8.9rem;
}

.rule-wrap-bg2 {
  padding: 2.3rem .3rem .5rem;
  box-sizing: border-box;
  transform: translateY(-1rem);
  background-image: url("../images/tap_rule_bg_1.png");
}

.rule-content-scroll-wrap {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.rule-wrap-content {
  width: 100%;
  /* background-color: red; */
  /* background-image: url("../images/tap_rule_content.jpg"); */
}

.rule-wrap .draw-fail-btn {
  bottom: -10.5rem;
}

.draw-fail-btn {
  position: absolute;
  top: 0;
  bottom: -7rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: .7rem;
  height: .7rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/tap_btn_close_1.png");
}

.prize-close {
  bottom: -11rem;
}

/* jp */
.jp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.light_award {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 6rem;
  height: 10.75rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url("../images/light_award.gif"); */
  animation-name: scale;
  animation-duration: .5s;
  transition-timing-function: ease-in-out;

}

.jp_item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 3.31rem;
  height: 4.64rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/box_1_2.png");
  animation-name: container;
  /*动画的名称*/
  transform-origin: center bottom;
  animation-duration: .8s;
  animation-delay: .5s;
  /*设置动画旋转元素的基点为：居中靠下*/
}

.jp_click-btn {
  position: absolute;
  top: 0;
  bottom: -5.8rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  width: 3rem;
  height: .93rem;
  background-size: contain;
  background-image: url("../images/tap_btn_ok.png");
  animation: opacity linear .8s;
  transition-timing-function: ease-in-out;
}

.jp_prize-close-btn {
  animation: opacity linear .8s;
  transition-timing-function: ease-in-out;
}


@keyframes scale {
  0% {
    transform: scale(0.1);
  }

  25% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(.8);
  }

  75% {
    transform: scale(1);
  }
}


@keyframes container {

  0%,
  100%,
  20%,
  50%,
  80% {
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
    transform: translate3d(0, 0, 0);
    /*设置只在Z轴上移动*/
  }

  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, 0.50, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0
  }

  40% {
    opacity: .4;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.gift {
  position: fixed;
  width: 7.5rem;
  height: 13.44rem;
  background-image: url("../images/gift1.gif");
}


/* 错误弹窗 */

.error-wrap, .activity-date-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.error-wrap .staff-error {
  width: 6.88rem;
  height: 5.44rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/tap_bg_error_3.png);
}

.error-wrap .staff-wrap-close-btn,
.activity-date-wrap .activity-date-close-btn
{
  margin-top: 0.6rem;
  width: .7rem;
  height: .7rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/tap_btn_close_1.png);
}

.activity-date-wrap .activity-date-error {
  width: 6.88rem;
  height: 5.44rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.activity-date-wrap.activity-not-started .activity-date-error {
  background-image: url(../images/tap_bg_error_1.png);
}

.activity-date-wrap.activity-ended .activity-date-error{
  background-image: url(../images/tap_bg_error_2.png);
}
