.index {
  width: 100%;
  height: 100%;
}

/* 登陆 */
.login {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-image: url("../images/p2_login_bg.jpg");
}
.logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .43rem .25rem 0;
  box-sizing: border-box;
}
.logo {
  width: .9rem;
  height: .52rem;
  background-image: url("../images/p2_login_logo.png");
}
.rule {
  width: 1.18rem;
  height: .53rem;
  background-image: url("../images/p2_login_btn_rule.png");
}
.login-title {
  width: 100%;
  height: 2.88rem;
  background-image: url("../images/p2_login_title.png");
  background-position: right bottom;
}
.login-content {
  position: relative;
  width: 100%;
  height: 5.7rem;
  background-image: url("../images/p2_login_content_bg.png");
  background-position: center bottom;
}
.tel-wrap {
  position: relative;
  margin-top: 1rem;
  width: 5.94rem;
  height: .9rem;
  background-image: url("../images/p2_login_tel_bg.png");
  background-size: 100%;
}
.vcode-wrap {
  position: relative;
  margin-top: .5rem;
  width: 5.94rem;
  height: .9rem;
}
.vcode-bg {
  position: relative;
  width: 4.08rem;
  height: .9rem;
  background-image: url("../images/p2_login_vcode_bg.png");
  background-position: left;
}
.sendcode-btn {
  position: absolute;
  right: 0;
  z-index: 11;
  width: 1.66rem;
  height: .9rem;
  margin-left: 6px;
  background-image: url("../images/p2_login_vcode_btn.png");
}
.sendcode-btn-empty {
  position: absolute;
  right: 0;
  z-index: 11;
  width: 1.66rem;
  height: .9rem;
  margin-left: 6px;
  font-size: .36rem;
  background-image: url("../images/p2_login_vcode_empty_bg.png");
}
.form-item {
  position: absolute;
  top: 6px;
  right: 10px;
  z-index: 10;
  width: 3.9rem;
  height: 72%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  font-size: .26rem;
}
.form-item:focus {
  border: none;
  outline: none;
}
.vcode-item {
  width: 2.1rem;
}
.login-btn {
  width: 4.24rem;
  height: 1.27rem;
  background-image: url("../images/popup_login_btn.png");
}
.login-btn-wrap {
  position: absolute;
  bottom: -0.6rem;
  z-index: 19;
}
.index-cache {
  width: 3.77rem;
  height: 1.1rem;
  position: absolute;
  bottom: 8.6rem;
  left: 1.8rem;
  z-index: 10;
}
.index-next {
  width: 5rem;
  height: 1.4rem;
  position: absolute;
  bottom: 11.9rem;
  left: 1.2rem;
  z-index: 10;
}
.index-prize {
  width: 3.77rem;
  height: 1.1rem;
  position: absolute;
  bottom: 2rem;
  left: 1.8rem;
  z-index: 10;
}
.index-manhua {
  position: relative;
}

/* 助力 */
.help-fail-wrap, .help-success-wrap, 
.service-wrap, .verify-wrap,
.verify-fail-wrap, .verify-success-wrap, .link-wrap, 
.index-help-wrap,  .help-success-wrap, .help-fail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
}
.help-content {
  width: 100%;
  height: 7rem;
  background-image: url("../images/p6_help_content.png");
}
.help-btn {
  width: 5rem;
  height: 1.1rem;
  background-image: url("../images/p6_help_btn.png");
  margin-top: 4.2rem;
}
.help-success-content {
  width: 100%;
  height: 4.8rem;
  background-image: url("../images/popup_inviteOk_content.png");
}
.help-success-btn {
  width: 3.45rem;
  height: 1.1rem;
  background-image: url("../images/popup_inviteOk_btn.png");
  margin-top: 4.25rem;
}
.help-fail-content {
  width: 100%;
  height: 3.5rem;
  background-image: url("../images/popup_inviteFail_content.png");
}
.help-fail-btn {
  width: 3.45rem;
  height: 1.7rem;
  background-image: url("../images/popup_inviteFail_btn.png");
  margin-top: 2.8rem;
}
.back-close-btn{ 
  margin-top: .8rem;
}
.help-fail-wrap .back-close-btn{ 
  margin-top: 1.24rem;
}
/* 登记页 */
.checkin {
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-image: url("../images/p3_checkin_bg.jpg");
}
.checkin-prize {
  width: 100%;
  height: 2.76rem;
  background-image: url("../images/p3_checkin_prize.png");
}
.checkin-content {
  position: relative;
  width: 100%;
  height: 5.26rem;
  background-image: url("../images/p3_checkin_content_bg.png");
  background-position: center bottom;
}
.checkin-tips {
  margin-bottom: 1.88rem;
  width: 100%;
  height: .25rem;
  background-image: url("../images/p3_checkin_content_tips.png");
}
.address-wrap {
  position: relative;
  margin-top: 1rem;
  width: 5.94rem;
  height: .9rem;
  background-image: url("../images/p3_checkin_address_2.png");
  background-size: 100%;
}
.address_more-wrap {
  position: relative;
  margin-top: .5rem;
  width: 5.94rem;
  height: .9rem;
  background-image: url("../images/p3_checkin_address_more_2.png");
  background-size: 100%;
}
.address-item {
  right: .6rem;
  width: 3.5rem;
}
.checkin-btn {
  width: 4.24rem;
  height: 1.27rem;
  background-image: url("../images/p3_checkin_btn.png");
}
.checkin-result {
  margin-bottom: 1rem;
}
.fail-result {
  width: 100%;
  height: 3.74rem;
  background-image: url("../images/p3_checkin_fail_content.png");
  background-position: center bottom;
}
.success-result {
  width: 100%;
  height: 3.74rem;
  background-image: url("../images/p3_checkin_success_content_bg.png");
  background-position: center bottom;
}
.icon {
  padding-left: .6rem;
  margin-left: 1rem;
  font-size: .28rem;
  background-position: left center;
  color: #3E4853;
}
.icon-phone {
  margin-top: 1rem;
  background-position: left 2px center;
  background-image: url("../images/icon_phone.png");
}
.icon-addr {
  margin-top: .2rem;
  background-image: url("../images/icon_position.png");
}
.right-icon {
  position: fixed;
  z-index: 11;
  right: 0;
  top: 40%;
  width: 1.14rem;
  height: 1.14rem;
}
.icon-service {
  height: 1.4rem;
  background-position: right center;
  background-image: url("../images/p3_checkin_btn_customer.png");
}
.icon-draw {
  top: 56%;
  background-position: right center;
  background-image: url("../images/p3_checkin_btn_draw.png");
}

/* 地址选择 */
.address-select-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 0;
}
.address-select-wrap {
  height: 8.45rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.address-select {
  width: 100%;
  height: 3.46rem;
  background-image: url("../images/select.png");
}
.select-content {
  background-color: #FFF;
  height: 5rem;
  overflow: scroll;
}
.select-content ul {
  padding: 0;
  padding-left: .4rem;
}
.select-content li {
  list-style: none;
  line-height: 3;
  font-size: .28rem;
}

/* 登记失败弹窗 */
.checkin-fail, .checkin-success, .draw-success {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkin-fail-content {
  position: relative;
  width: 5.2rem;
  height: 7.74rem;
  background-image: url("../images/popup_checkinFail_content.png");
}
.checkin-fail-btn {
  position: absolute;
  bottom: -0.4rem;
  width: 3.45rem;
  height: 1.1rem;
  background-image: url("../images/popup_checkinFail_btn.png");
}
.popup-close {
  position: absolute;
  bottom: -1.44rem;
  width: .74rem;
  height: .74rem;
  background-image: url("../images/popup_btn_close.png");
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* 登记成功弹窗 */
.checkin-sussess-content {
  position: relative;
  width: 5.38rem;
  height: 9.72rem;
  background-image: url("../images/popup_checkinOk_content.png");
}
.checkin-sussess-btn {
  position: absolute;
  bottom: -0.2rem;
  width: 3.45rem;
  height: 1.1rem;
  background-image: url("../images/popup_checkinOk_btn.png");
}

/* 抽奖页面 */
.prize-page {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-image: url("../images/p5_draw_bg.jpg");
}
.prize-btn {
  position: absolute;
  right: .28rem;
  width: 1.68rem;
  height: .68rem;
  /* background-color: red; */
  top: 3.6rem;
  z-index: 19;
}
.back-btn{
  width: 1.38rem;
  height: .53rem;
  background-image: url("../images/p5_draw_btn_back.png");
}
.top-wrap {
  padding: .43rem 0 0;
}
.draw {
  position: relative;
  width: 100%;
  height: 9.72rem;
  background-image: url("../images/p5_draw_prize_bg.png");
}
.process-wrap {
  position: absolute;
  bottom: .8rem;
  z-index: 19;
}
.draw-process {
  width: 4.46rem;
  height: 1.35rem;
}
.progress1 {
  background-image: url("../images/p5_draw_prize_jindu_type1.png");
}
.progress2 {
  background-image: url("../images/p5_draw_prize_jindu_type2.png");
}
.progress3 {
  background-image: url("../images/p5_draw_prize_jindu_type3.png");
}
.progress4 {
  background-image: url("../images/p5_draw_prize_jindu_type4.png");
}
.progress5 {
  background-image: url("../images/p5_draw_prize_jindu_type5.png");
}
.progress6 {
  background-image: url("../images/p5_draw_prize_jindu_type6.png");
}
.draw-btn-wrap {
  position: absolute;
  bottom: -0.6rem;
  z-index: 19;
}
.draw-btn {
  width: 4.15rem;
  height: 1.26rem;
  background-image: url("../images/p5_draw_prize_btn.png");
}
.draw-tips {
  margin: .8rem 0 .4rem;
  font-size: .26rem;
  color: #3E4853;
}
.draw-invite {
  position: relative;
  width: 100%;
  height: 5.2rem;
  background-image: url("../images/p5_draw_invite_content.png");
}
.invite-wrap {
  position: absolute;
  bottom: .8rem;
}
.invite-btn-wrap {
  width: 2.83rem;
  height: .92rem;
}
.link-btn {
  background-image: url("../images/p5_draw_invite_link.png");
  margin-right: .42rem;
}
.poster-btn {
  background-image: url("../images/p5_draw_invite_poster.png");
}
.draw-friend-top {
  width: 6.81rem;
  height: .67rem;
  background-size: 100% 100%;
  background-image: url("../images/p5_draw_friends_content_top.png");
}
.draw-friend-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 1.6rem;
  width: 6.81rem;
  background-size: 100% 100%;
  background-repeat: repeat-y;
  background-image: url("../images/p5_draw_friends_content_repeat.png");
}
.draw-friend-bottom {
  width: 6.81rem;
  height: .52rem;
  background-size: 100%;
  margin-bottom: .62rem;
  background-image: url("../images/p5_draw_friends_content_bottom.png");
}
.friend-tips {
  font-size: .3rem;
  color: #B4664E;
  margin: .32rem 0;
  text-align: center;
}
.friends {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: .1rem .38rem;
}
.friends-item {
  text-align: center;
  margin-right: .28rem;
  margin-bottom: .28rem;
  width: 1.3rem;
}
.friends-item:nth-child(4n) {
  margin-right: 0;
}
.head {
  width: 0.82rem;
  height: .82rem;
  margin-bottom: .12rem;
  border-radius: 50%;
}
.name {
  font-size: .2rem;
  color: #3E4853;
  height: .52rem;
}
.prizing-swiper {
  /* background-color: chocolate; */
  width: 6.1rem;
  height: .4rem;
  margin-top: 3.4rem;
  margin-left: 0.2rem;
  display: flex;
  overflow: hidden;
  font-size: .2rem;
  align-items: center;
  color: #FFF;
}
.index-prizing-swiper {
  width: 6.1rem;
  height: .4rem;
  display: flex;
  overflow: hidden;
  font-size: .2rem;
  align-items: center;
  color: #FFF;
  position: absolute;
  bottom: 6.56rem;
  left: .7rem;
}
.index-prizing-swiper .swiper-slide {
  width: auto;
  display: inline-flex;
  align-items: center;
}
.index-prize-swiper {
  position: absolute;
  width: 5.9rem;
  height: 2.25rem;
  bottom: 3.5rem;
  left: .8rem;
  display: flex;
  overflow: hidden;
  font-size: .2rem;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.index-prize-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.prizing-swiper .swiper-slide {
  width: auto;
  display: inline-flex;
  align-items: center;
}
.draw-prize-swiper {
  position: absolute;
  width: 5.9rem;
  height: 2.25rem;
  top: 4.48rem;
  left: .9rem;
  display: flex;
  overflow: hidden;
  font-size: .2rem;
  align-items: center;
  color: #fff;
}
.draw-prize-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.greed-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.47rem;
  height: 1.55rem;
  background-image: url("../images/p5_draw_prize_border_green.png");
}
.red-wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1.47rem;
  height: 1.55rem;
  background-image: url("../images/p5_draw_prize_border_red.png");
}
.prize-item-wrap {
  width: 1.3rem;
  height: 1.3rem;
}
.prize1 {
  background-image: url("../images/icon_prize_A052.png");
}
.prize2 {
  background-image: url("../images/icon_prize_a501.png");
}
.prize3 {
  background-image: url("../images/icon_prize_A06.png");
}
.prize4 {
  background-image: url("../images/icon_prize_hongbao.png");
}
.prize5 {
  background-image: url("../images/icon_prize_A02.png");
}
.prize6 {
  background-image: url("../images/icon_prize_A04.png");
}
.prize-text {
  width: 1.47rem;
  font-size: .2rem;
  color: #3E4853;
}

/* 中奖弹窗 */
.draw-sussess-content {
  margin-top: -1.3rem;
  position: relative;
  width: 5.1rem;
  height: 6.76rem;
  background-image: url("../images/popup_drawOk_content_bg.png");
}
.draw-sussess-btn {
  position: absolute;
  bottom: -0.4rem;
  width: 3.45rem;
  height: 1.1rem;
  background-image: url("../images/popup_drawOk_btn.png");
}
.myprize {
  margin-top: 1.6rem;
  width: 2.8rem;
  height: 2rem;
}
.myprize-text {
  font-size: .26rem;
  color: #3E4853;
}
.draw-fail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.draw-fail-content {
  width: 5.18rem;
  height: 2.92rem;
  background-image: url("../images/popup_drawFail_content.png");
}

/* 我的奖品 */
.my-prize-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
}
.prize-top {
  width: 6.5rem;
  height: 1.2rem;
  background-size: 100% 100%;
  background-image: url("../images/popup_myPrize_content_top.png");
}
.prize-center {
  width: 6.5rem;
  background-size: 100% 100%;
  background-image: url("../images/popup_myPrize_content_repeat.png");
  background-repeat: repeat-y;
}
.prize-bottom {
  width: 6.5rem;
  height: .68rem;
  background-size: 100%;
  background-image: url("../images/popup_myPrize_content_bottom.png");
}
.prize-title {
  margin-bottom: .32rem;
}
.title-text {
  font-size: .32rem;
  color: #3E4853;
}
.star-icon {
  width: 0.38rem;
  height: .38rem;
  background-image: url("../images/popup_myPrize_content_star.png");
  margin: 0 .14rem;
}
.prize1-content {
  width: 5.88rem;
  height: 1.48rem;
  background-image: url("../images/popup_myPrize_router_bg.png");
  align-items: center;
}
.prize1-tips {
  width: 5.88rem;
  height: .22rem;
  background-image: url("../images/popup_myPrize_router_tip.png");
}
.prize-checkin-btn {
  width: 1.3rem;
  height: .53rem;
  background-image: url("../images/popup_myPrize_router_btn.png");
  margin-right: .3rem;
}
.prize-tips {
  font-size: .28rem;
  color: #3E4853;
  margin-top: .3rem;
  margin-bottom: .2rem;
}
.prize2-content {
  width: 5.88rem;
  height: 1.21rem;
  background-image: url("../images/popup_myPrize_prize_bg.png");
  justify-content: flex-start;
  color: #3E4853;
  font-size: .26rem;
  margin-bottom: .2rem;
}
.phoneBill {
  background-image: url("../images/icon_prize_A02.png");
}
.network {
  background-image: url("../images/icon_prize_A03.png");
}
.fuelCard {
  background-image: url("../images/icon_prize_a501.png");
}
.CDVoucher {
  background-image: url("../images/icon_prize_A052.png");
}
.AISpeaker {
  background-image: url("../images/icon_prize_A053.png");
}
.robot {
  background-image: url("../images/icon_prize_A06.png");
}
.money {
  background-image: url("../images/icon_prize_hongbao.png");
}
.prize-item {
  margin-left: .28rem;
  margin-right: .38rem;
  width: 1rem;
  height: 1.21rem;
  /* background-image: url("../images/popup_drawOk_prize_1.png"); */
}
.wxcode {
  width: 1.9rem;
  height: 1.9rem;
  background-image: url("../images/popup_myPrize_content_qwx.png");
}
.time-tips {
  font-size: .24rem;
  color: #B4664E;
}
.none-prize {
  font-size: .3rem;
  color: #B4664E;
  text-align: center;
}
/* 核销 */
.verify-bg {
  position: relative;
  width: 6.5rem;
  height: 4.7rem;
  background-image: url("../images/popup_hexiao_content.png");
  background-size: 100%;
} 
.averify-item {
  width: 3.66rem;
  height: .72rem;
  top: 2.4rem;
  right: .6rem;
}
.verify-btn {
  width: 3.45rem;
  height: 1.1rem;
  background-image: url("../images/popup_hexiao_btn.png");
}
.verify-btn-wrap {
  position: absolute;
  bottom: -0.4rem;
  z-index: 19;
}
.verify-close {
  margin: 1rem 0 .2rem;
}
.verify-success-bg {
  width: 5.18rem;
  height: 2.9rem;
  background-image: url("../images/popup_hexiao_success.png");
}
.verify-fail-bg {
  width: 5.18rem;
  height: 2.9rem;
  background-image: url("../images/popup_hexiao_fail.png");
}

/* 海报 */
.poster {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  background-image: url("../images/p4_poster_bg.jpg");
  overflow: scroll;
  height: 100%;
}
.poster-bg{
  width: 7.2rem;
  height: 13.1rem;
  margin-bottom: .4rem;
  background-image: url("../images/p4_poster_content_bg.png");
}
#canvas {
  position: absolute;
  width: 1.8rem !important;
  height: 1.8rem !important;
  left: 2.9rem;
  top: 8.5rem;
}

/* 登陆弹窗 */
.index-login-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.service-bg {
  width: 5.18rem;
  height: 7rem;
  background-image: url("../images/popup_customer_content.png");
}

.rule-wrap {
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 20;
  overflow: scroll;
  height: 100%;
}
.rule-back-btn {
  position: absolute;
  top: .1rem;
  left: .1rem;
  width: 1.38rem;
  height: .53rem;
  background-image: url("../images/p5_draw_btn_back.png");
}
.link-bg {
  width: 2.5rem;
  height: 2.15rem;
  background-image: url("../images/popup_share_tips.png");
}
.link-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link-close {
  margin: .6rem .9rem;
}